<?xml version="1.0" encoding="utf-8" ?>

<taglib>
  <name>Menu Lib</name>
  <classname>Menu</classname>
  <classpath>php.libs</classpath>
  <count>*</count>
  <comment>
    "Menu"
  </comment>
  <tag>
    <name>xmlMenu</name>
    <function>showXmlMenu</function>
    <attribute>
      <attname>file</attname>
      <required />
    </attribute>
    <comment>
      Zobrazí menu ze zadaného xml souboru.
    </comment>
  </tag>
</taglib>

