<?xml version="1.0" encoding="utf-8" ?>
<taglib xmlns="http://schemas.neptuo.com/xsd/is4wfw/taglib.xsd">
  <comment>
    "Menu"
  </comment>
  <tag>
    <name>xmlMenu</name>
    <function>showXmlMenu</function>
    <attribute>
      <name>file</name>
      <required />
    </attribute>
    <comment>
      Zobrazí menu ze zadaného xml souboru.
    </comment>
  </tag>
</taglib>
