<?xml version="1.0" encoding="utf-8" ?>
<taglib xmlns="http://schemas.neptuo.com/xsd/is4wfw/taglib.xsd">
  <comment>
    Třída pro správu webového frameworku.
  </comment>
  <tag>
    <name>manageProperties</name>
    <function>manageProperties</function>
    <attribute>
      <name>userId</name>
    </attribute>
    <attribute>
      <name>useFrames</name>
    </attribute>
    <attribute>
      <name>showMsg</name>
    </attribute>
    <comment>
      Zobrazí formulář pro nastavení uživatelsky závislých systémových proměnných.
      Pokud má 'userId' hodnotu '0' nebo 'default', nastavují se výchozí hodnoty, které budou zkopírovány každému novému uživateli.
    </comment>
  </tag>
  <tag>
    <name>manageNotes</name>
    <function>manageNotes</function>
    <attribute>
      <name>useFrames</name>
    </attribute>
    <attribute>
      <name>showMsg</name>
    </attribute>
    <comment>
      Zobrazí formulář pro editaci uživatelských poznámek.
    </comment>
  </tag>
  <tag>
    <name>printNotes</name>
    <function>printNotes</function>
    <attribute>
      <name>useFrames</name>
    </attribute>
    <attribute>
      <name>showMsg</name>
    </attribute>
    <comment>
      Zobrazí uživatelské poznámky.
    </comment>
  </tag>
  <tag>
    <name>editAdminMenu</name>
    <function>editAdminMenu</function>
    <attribute>
      <name>useFrames</name>
    </attribute>
    <attribute>
      <name>showMsg</name>
    </attribute>
    <comment>
      Zobrazí editaci Admin menu.
    </comment>
  </tag>
  <tag>
    <name>adminMenu</name>
    <function>adminMenu</function>
    <attribute>
      <name>url</name>
      <required />
    </attribute>
    <attribute>
      <name>classes</name>
    </attribute>
    <comment>
      Zobrazí Admin menu.
    </comment>
  </tag>
  <tag>
    <name>adminMenuItem</name>
    <function>adminMenuItem</function>
    <comment>
      Zobrazí iframe s obsahem.
    </comment>
  </tag>
  <tag>
    <name>editConnection</name>
    <function>editConnection</function>
    <attribute>
      <name>useFrames</name>
    </attribute>
    <attribute>
      <name>showMsg</name>
    </attribute>
    <comment>
      Zobrazí editaci připojení k db.
    </comment>
  </tag>
  <tag>
    <name>listConnections</name>
    <function>listCOnnections</function>
    <attribute>
      <name>useFrames</name>
    </attribute>
    <attribute>
      <name>showMsg</name>
    </attribute>
    <comment>
      Zobrazí výpis připojení k db.
    </comment>
  </tag>
  <tag>
    <name>manageRoleCache</name>
    <function>manageRoleCache</function>
    <attribute>
      <name>buttonOnly</name>
	    <default>false</default>
    </attribute>
    <attribute>
      <name>useFrames</name>
	    <default>true</default>
    </attribute>
    <comment>
      Zobrazí správu role-cache.
    </comment>
  </tag>
  <tag>
    <name>versionList</name>
    <function>versionList</function>
    <attribute>
      <name>afterUpdateUrl</name>
      <comment>URL, kam se má přesměrovat po aktualizaci.</comment>
    </attribute>
    <comment>
      Zobrazí verze frameworku, na které je možné aktualizovat.
    </comment>
  </tag>
  <tag>
    <name>repositoryLink</name>
    <function>repositoryLink</function>
    <attribute>
      <name>text</name>
      <type>string</type>
      <default>GitHub</default>
    </attribute>
    <comment>
      Zobrazí odkaz do repositáře s projektem (zdrojové kódy).
    </comment>
  </tag>
  <tag>
    <name>repositoryIssueCreateLink</name>
    <function>repositoryIssueCreateLink</function>
    <attribute>
      <name>text</name>
      <type>string</type>
      <default>Report</default>
    </attribute>
    <comment>
      Zobrazí odkaz pro založení hlášení o chybě.
    </comment>
  </tag>
  <tag>
    <name>debugEnvironment</name>
    <function>debugEnvironment</function>
    <comment>Debug výpis ENV.</comment>
  </tag>
  <tag>
    <name>debugServer</name>
    <function>debugServer</function>
    <comment>Debug výpis SERVER.</comment>
  </tag>
  <tag>
    <name>debugHttpHeaders</name>
    <function>debugHttpHeaders</function>
    <comment>Debug výpis HTTP hlaviček requestu.</comment>
  </tag>
  <tag>
    <name>debugRequest</name>
    <function>debugRequest</function>
    <comment>Debug výpis REQUEST.</comment>
  </tag>
  <fulltag>
    <name>clearTemplateCache</name>
    <function>clearTemplateCache</function>
    <lookless />
    <comment>
      Smaže cache všech zkompilovaných šablon.
    </comment>
  </fulltag>
  <property>
  	<name>cmsWindowsStyle</name>
  	<getFunction>getCmsWindowsStyle</getFunction>
  	<setFunction>setCmsWindowsStyle</setFunction>
    <comment>
      Vlastnost cmsWindowsStyle, v system.properties s klicem System.cms.windowsstyle.
    </comment>
  </property>
  <property>
  	<name>hasAdminMenu</name>
  	<getFunction>hasAdminMenu</getFunction>
    <comment>
      Vlastnost, která vrací "true", pokud je definována alespoň jedna položka admin menu.
    </comment>
  </property>
  <property>
  	<name>databaseName</name>
  	<getFunction>getDatabaseName</getFunction>
    <comment>
      Vrací název hlavní databáze aplikace.
    </comment>
  </property>
  <property>
  	<name>readme</name>
  	<getFunction>getReadme</getFunction>
  	<setFunction>setReadme</setFunction>
    <comment>
      Vrací nebo nastavuje obsah readme.txt.
    </comment>
  </property>
</taglib>
