<?xml version="1.0" encoding="utf-8" ?>

<taglib>
  <name>Web library</name>
  <classname>Web</classname>
  <classpath>php.libs</classpath>
  <count>1</count>
  <comment>
    Základní třída aplikace.
  </comment>
  <tag>
    <name>content</name>
    <function>getContent</function>
    <comment>
      Zobrazí obsah podstránky.
    </comment>
  </tag>
  <tag>
    <name>menu</name>
    <function>getMenu</function>
    <attribute>
      <name>parentId</name>
    </attribute>
    <attribute>
      <name>inner</name>
    </attribute>
    <attribute>
      <name>classes</name>
      <comment>Css třída přidaná divu pro každé menu (kořenový div a pro každé pod menu).</comment>
    </attribute>
    <attribute>
      <name>rel</name>
    </attribute>
    <attribute>
      <name>template</name>
      <obsolete>Již se nepoužívá (vnitřně není ani implementováno).</obsolete>
    </attribute>
    <attribute>
      <name>copyParameters</name>
      <type>bool</type>
      <default>false</default>
      <comment>Pokud je "true", přidá do URL všechny aktuální parametry z query.</comment>
    </attribute>
    <attribute>
      <name>display</name>
      <type>string</type>
      <default>name</default>
      <comment>Vlastnost z "info", která se má použít jako text odkazu ("name" nebo "title").</comment>
    </attribute>
    <comment>
      Vygeneruje menu stránek, kde: "parentId" je id kořenové stránky menu,
      "inner" je hloubka v noření menu, (př.: pro inner="1", zobrazí pouze jednu úroveň menu).
    </comment>
  </tag>
  <fulltag>
    <name>menu</name>
    <function>getMenuWithTemplate</function>
    <attribute>
      <name>parentId</name>
      <required />
      <comment>Id nadřazené stránky.</comment>
    </attribute>
    <attribute>
      <name>display</name>
      <type>string</type>
      <default>name</default>
      <comment>Vlastnost z "info", která se má použít jako "display" field ("name" nebo "title").</comment>
    </attribute>
    <attribute>
      <name>copyParameters</name>
      <type>bool</type>
      <default>false</default>
      <comment>Pokud je "true", přidá do URL všechny aktuální parametry z query.</comment>
    </attribute>
    <comment>
      Vykreslí menu. 
      Položky jsou uložené jako list model v property "web:menu".
    </comment>
  </fulltag>
  <tag>
    <name>crumbMenu</name>
    <function>getCrumbMenu</function>
    <attribute>
      <name>delimeter</name>
      <required />
    </attribute>
    <comment>
      Vygeneruje drobečkovou nápovědu. Atribute 'delimenter' obsahuje znaky, 
      které bodou použity pro oddělení jednotlivých odkazů
    </comment>
  </tag>
  <tag>
    <name>cache</name>
    <function>cache</function>
    <attribute>
      <name>allow</name>
      <required />
    </attribute>
    <attribute>
      <name>time</name>
      <required />
    </attribute>
    <comment>
      Nastaví cachování v aplikaci.
    </comment>
  </tag>
  <tag>
    <name>inc</name>
    <function>includePage</function>
    <attribute>
      <name>pageId</name>
      <required />
    </attribute>
    <attribute>
      <name>languageId</name>
    </attribute>
    <attribute>
      <name>notParseCTag</name>
    </attribute>
    <attribute>
      <name>whenLogged</name>
    </attribute>
    <attribute>
      <name>whenNotLogged</name>
    </attribute>
    <comment>
      Vloží do stránky další stránku specifikovanou v "pageId". Pokud je nastaveno
      "languageId", zobrazí obsah stránky z dané jazykové verze, jinak zobrazen obsah
      podle aktuální jazykové verze. Pokud je nastaven atribut "notParseCTag" na "true",
      nebudou se ve vkládané stránce prasovat custom tagy.  
    </comment>
  </tag>
  <tag>
    <name>incTemplate</name>
    <function>includeTemplate</function>
    <obsolete>Použijte knihovnu "template".</obsolete>
    <attribute>
      <name>templateId</name>
      <required />
    </attribute>
    <attribute>
      <name>whenLogged</name>
    </attribute>
    <attribute>
      <name>whenNotLogged</name>
    </attribute>
    <attribute>
      <name>browser</name>
    </attribute>
    <comment>
      Vloží do stránky template.  
    </comment>
  </tag>
  <tag>
    <name>includeUrl</name>
    <function>includeUrl</function>
    <attribute>
      <name>url</name>
      <required />
      <comment>URL, jejíž obsah se má vložit. Musí obsahovat absolutní hodnotu (http://...) nebo virtuální cestu (~/..)</comment>
    </attribute>
    <comment>Vloží obsah z externí URL.</comment>
  </tag>
  <tag>
    <name>url</name>
    <function>getPageUrl</function>
    <attribute>
      <name>pageId</name>
      <required />
      <comment>ID stránky, na kterou má vést adresa.</comment>
    </attribute>
    <attribute>
      <name>languageId</name>
      <comment>ID jazyku, na kterou má vést adresa. Pokud není vyplněn použije se aktuální.</comment>
    </attribute>
    <attribute>
      <name>isAbsolute</name>
      <type>bool</type>
      <default>false</default>
      <comment>Zda se má vygenerovat absolutní cesta, včetně domény.</comment>
    </attribute>
    <attribute>
      <name>param</name>
      <prefix />
      <comment>Seznam parametrů, které se mají do URL přidat.</comment>
    </attribute>
    <anyAttribute>
      <comment>Pouze pro zpětnou kompatibilitu. Vhodnější použít 'param-*'.</comment>
    </anyAttribute>
    <comment>
      Vytvoří URL pro stránku.
    </comment>
  </tag>
  <fulltag>
    <name>url</name>
    <function>providePageUrl</function>
    <attribute>
      <name>pageId</name>
      <required />
      <comment>ID stránky, na kterou má vést adresa.</comment>
    </attribute>
    <attribute>
      <name>languageId</name>
      <comment>ID jazyku, na kterou má vést adresa. Pokud není vyplněn použije se aktuální.</comment>
    </attribute>
    <attribute>
      <name>isAbsolute</name>
      <type>bool</type>
      <default>false</default>
      <comment>Zda se má vygenerovat absolutní cesta, včetně domény.</comment>
    </attribute>
    <attribute>
      <name>param</name>
      <prefix />
      <comment>Seznam parametrů, které se mají do URL přidat.</comment>
    </attribute>
    <comment>
      Vytvoří URL, která uvnitř těla dostupná v propertě 'web:url'.
    </comment>
  </fulltag>
  <property>
    <name>url</name>
    <getFunction>getProvidedPageUrl</getFunction>
    <comment>Vrací URL vytvořenou v 'web:url' full tagu.</comment>
  </property>
  <tag>
    <name>a</name>
    <function>makeAnchor</function>
    <attribute>
      <name>pageId</name>
      <required />
    </attribute>
    <attribute>
      <name>text</name>
    </attribute>
    <attribute>
      <name>languageId</name>
    </attribute>
    <attribute>
      <name>class</name>
    </attribute>
    <attribute>
      <name>activeClass</name>
    </attribute>
    <attribute>
      <name>id</name>
    </attribute>
    <attribute>
      <name>target</name>
    </attribute>
    <attribute>
      <name>rel</name>
    </attribute>
    <attribute>
      <name>type</name>
    </attribute>
    <attribute>
      <name>param</name>
      <prefix />
      <comment>Seznam paramtrů, které se mají předat URL.</comment>
    </attribute>
    <anyAttribute />
    <comment>
      Vytvoří odkaz na stránku v aplikaci, "pageId" je id požadovaného stránky, 
      "text" je text v html odkazu, "languageId" je jazyková verze požadované
      stránky, defaultně aktuální jazyková verze. Zbytek jsou standartní html atributy.
      "type" = link(default) nebo button.
      Všechny ostatní atributy jsou předány jako atributy "a" tagu.
    </comment>
  </tag>
  <fulltag>
    <name>a</name>
    <function>makeAnchorFullTag</function>
    <attribute>
      <name>pageId</name>
      <required />
    </attribute>
    <attribute>
      <name>languageId</name>
    </attribute>
    <attribute>
      <name>class</name>
    </attribute>
    <attribute>
      <name>activeClass</name>
    </attribute>
    <attribute>
      <name>id</name>
    </attribute>
    <attribute>
      <name>target</name>
    </attribute>
    <attribute>
      <name>rel</name>
    </attribute>
    <attribute>
      <name>type</name>
    </attribute>
    <anyAttribute />
    <comment>
      Vytvoří odkaz na stránku v aplikaci, "pageId" je id požadovaného stránky, 
      "languageId" je jazyková verze požadované
      stránky, defaultně aktuální jazyková verze. Zbytek jsou standartní html atributy.
      "type" = link(default) nebo button.
      Params jsou použity jako URL parametry, pokud navíc mají prefix 'param-', ten je z názvu odebrán. Je tak možné nastavovat i parametry, které se jmenují jako jiné atributy.
    </comment>
  </fulltag>
  <tag>
    <name>composeTextFileUrl</name>
    <function>composeTextFileUrl</function>
    <comment>
      Pro dynamický překlad adres u 'text file'.
    </comment>
  </tag>
  <tag>
    <name>textFile</name>
    <function>getTextFile</function>
    <attribute>
      <name>type</name>
      <required />
    </attribute>
    <attribute>
      <name>fileId</name>
    </attribute>
    <comment>
      Vrací 'text file' v binární podobě.
    </comment>
  </tag>
  <tag>
    <name>redirect</name>
    <function>redirect</function>
    <attribute>
      <name>path</name>
    </attribute>
    <comment>
      Přesměruje užívatele na externí odkaz.
    </comment>
  </tag>
  <tag>
    <name>redirectTo</name>
    <function>redirectTo</function>
    <attribute>
      <name>pageId</name>
      <required />
    </attribute>
    <attribute>
      <name>langId</name>
    </attribute>
    <attribute>
      <name>browser</name>
    </attribute>
    <attribute>
      <name>ip</name>
      <comment>Klientská IP adresa (seznam čárkou odělených).</comment>
    </attribute>
    <attribute>
      <name>copyParameters</name>
      <type>bool</type>
      <default>false</default>
      <comment>Pokud je "true", přidá do URL všechny aktuální parametry z query.</comment>
    </attribute>
    <attribute>
      <name>param</name>
      <type>string</type>
      <prefix />
      <comment>Seznam parametrů (klíč=hodnota), které se mají přidat do URL. Mají přednost před hodnotami při "copyParameters".</comment>
    </attribute>
    <comment>
      Přesměruje uživatele na danou stranku, pokud je zadán 'browser', přesměruje pouze uživatele
			používající odpovídající prohlížeč. Parametr IP: . 
    </comment>
  </tag>
  <tag>
    <name>redirectToSelf</name>
    <function>redirectToSelf</function>
  </tag>
  <tag>
    <name>lang</name>
    <function>getLanguages</function>
    <attribute>
      <name>homePage</name>
    </attribute>
    <attribute>
      <name>display</name>
      <type>string</type>
      <default>language</default>
      <comment>Název fieldu z jazyku, který se má použít pro zobrazení.</comment>
    </attribute>
    <comment>
      Zobrazí odkazy na jednotlivé jazykové verze. Pokud je "homePage" true, pak 
      jsou tyto odkazy prokliky na domovskou stránku jazykové verze, jinak vede
      odkaz na odpovídající stranku dané jazykové verze stránce, aktuální.
    </comment>
  </tag>
  <tag>
    <name>redirectToRightLangVersion</name>
    <function>redirectToRightLangVersion</function>
    <attribute>
      <name>default</name>
      <required />
    </attribute>
    <attribute>
      <name>pageId</name>
    </attribute>
    <comment>
      Přesměruje uživatele na jeho jazykovou verzi, pokud neexistuje použije tu 
      zadanou v default, pageId je id stránky pro přesměrování.
    </comment>
  </tag>
  <tag>
    <name>pair</name>
    <function>makePair</function>
    <attribute>
      <name>property</name>
      <required />
    </attribute>
    <attribute>
      <name>scope</name>
    </attribute>
    <comment>
      Nastaví podle UID PROPERTY v příslušném SCOPE (get, post, session, request).
    </comment>
  </tag>
  <tag>
    <name>time</name>
    <function>showTimestamp</function>
    <comment>
      Zobrazí aktuální timestamp.
    </comment>
  </tag>
  <tag>
    <name>version</name>
    <function>getVersion</function>
    <comment>
      Zobrazí verzi aplikace.
    </comment>
  </tag>
  <tag>
    <name>cmsVersion</name>
    <function>getCmsVersion</function>
    <comment>
      Zobrazí verzi CMS.
    </comment>
  </tag>
  <tag>
    <name>dbVersion</name>
    <function>getDatabaseVersion</function>
    <comment>
      Zobrazí verzi databáze.
    </comment>
  </tag>
  <tag>
    <name>yearsFrom</name>
    <function>getYearsFrom</function>
    <attribute>
      <name>year</name>
      <required />
    </attribute>
    <comment>
      Zobrazí rozmezí zadaného roku a letošního roku.
    </comment>
  </tag>
  <tag>
    <name>lastPageUpdate</name>
    <function>getLastPageUpdate</function>
    <comment>
      Zobrazí čas a datum poslední úpravy stránky.
    </comment>
  </tag>
  <tag>
    <name>systemPropertyValue</name>
    <function>getSystemPropertyValue</function>
    <attribute>
      <name>name</name>
      <required />
    </attribute>
    <comment>
      Vrátí hodnotu systémové proměnné.
    </comment>
  </tag>
  <tag>
    <name>getProperty</name>
    <function>getProperty</function>
    <attribute>
      <name>name</name>
      <required />
    </attribute>
    <attribute>
      <name>isEvaluated</name>
      <type>bool</type>
      <default>true</default>
      <comment>Zda má být hodnota rozparsována jako property.</comment>
    </attribute>
    <comment>
      Vrátí hodnotu dané proměnné.
    </comment>
  </tag>
  <tag>
    <name>setProperty</name>
    <function>setProperty</function>
    <attribute>
      <name>prefix</name>
      <required />
    </attribute>
    <attribute>
      <name>name</name>
      <required />
    </attribute>
    <attribute>
      <name>value</name>
      <required />
    </attribute>
    <comment>
      Nastaví hodnotu dané proměnné.
    </comment>
  </tag>
  <fulltag>
    <name>frame</name>
    <function>getWebFrame</function>
    <attribute>
      <name>title</name>
      <required />
    </attribute>
    <attribute>
      <name>open</name>
    </attribute>
    <comment>
      Zobrazí rámec jako je používaný v RS.
    </comment>
  </fulltag>
  <tag>
    <name>genRandNum</name>
    <function>generateRandomNumber</function>
    <attribute>
      <name>min</name>
    </attribute>
    <attribute>
      <name>max</name>
    </attribute>
    <comment>
      Nastaví session hodnotu na náhodné číslo [mezi min a max pokud jsou zadané].
    </comment>
  </tag>
  <tag>
    <name>static</name>
    <function>showStaticText</function>
    <attribute>
      <name>value</name>
      <required />
    </attribute>
    <attribute>
      <name>lang</name>
      <required />
    </attribute>
    <comment>
      Zobrazí text (value) pokud se jedná o danou jazykovou verzi (this->LanguageName == lang)
    </comment>
  </tag>
  <tag>
    <name>plain</name>
    <function>plainFunction</function>
    <comment>
      Testovací tag.
    </comment>
  </tag>
  <fulltag>
    <name>condition</name>
    <function>showWhenConditionIsSatified</function>
    <attribute>
      <name>when</name>
      <required />
    </attribute>
    <attribute>
      <name>is</name>
      <default>true</default>
    </attribute>
    <attribute>
      <name>isInverted</name>
      <default>false</default>
    </attribute>
    <comment>
      Zobrazí svůj obsah pokud je atribut "condition" hodnoty true (bool nebo string).
      Atribut "is" nastavuje hodnotu, proti které se má atribut "when" porovnávat.
      Pomocí "isInverted" je možné podmínku otočit.
    </comment>
  </fulltag>
  <fulltag>
    <name>switch</name>
    <function>switchCondition</function>
    <attribute>
      <name>when</name>
      <required />
    </attribute>
    <comment>
      Umožňuje v těle definovat několik příkazů web:cache, ze kterých je vybrán maximálně jeden, který odpovídá hodnotě atributu "when".
    </comment>
  </fulltag>
  <fulltag>
    <name>case</name>
    <function>switchConditionCase</function>
    <attribute>
      <name>is</name>
      <type>string</type>
      <default>x.x-def</default>
    </attribute>
    <comment>
      Použitelný uvnitř web:switch. Definuje jeden test na porovnávanou hodnotu. Pokud atribut "is" není definován, jedná se o 'default' case.
    </comment>
  </fulltag>
  <tag>
    <name>doctype</name>
    <function>setDoctype</function>
    <attribute>
      <name>type</name>
      <required />
    </attribute>
    <comment>
      Nastaví doctype, který se pro stránku použije.
      Platné hodnoty pro atribut 'type' jsou 'html5' a 'xhtml' (výchozí).
    </comment>
  </tag>
  <tag>
    <name>flush</name>
    <function>setFlushOptions</function>
    <attribute>
      <name>template</name>
    </attribute>
    <attribute>
      <name>contentType</name>
    </attribute>
    <comment>
      Nastaví vlastnosti výstupu.
      Atribut 'template' nahrazuje globální parametr requestu '__TEMPLATE' pro definici výstupní šablony - 'none', 'xml' nebo 'null'.
      Atribut 'contentType' definuje typ odpovědi - 'text/html', 'text/json', ...
    </comment>
  </tag>
  <tag>
    <name>favicon</name>
    <function>getFavicon</function>
    <attribute>
      <name>url</name>
      <required />
      <type>string</type>
      <comment>Cesta k obrázku.</comment>
    </attribute>
    <attribute>
      <name>contentType</name>
      <required />
      <type>string</type>
      <comment>Content-type pro daný obrázek.</comment>
    </attribute>
    <comment>
      Vloží stránky link tag pro definici favicony.
      V případě použití favicony z filesystému, je vhodnější použít img:favicon.
    </comment>
  </tag>
  <tag>
    <name>debug</name>
    <function>debugMode</function>
    <lookless />
    <attribute>
      <name>isEnabled</name>
      <required />
      <type>bool</type>
      <comment>Zda má být debug mód zapnutý nebo vypnutý.</comment>
    </attribute>
    <comment>
      Umožňuje přepnout debug mód.
      Pokud pokud je zapnutý, je možné používat debug parametry.
    </comment>
  </tag>
  <fulltag>
    <name>lookless</name>
    <function>lookless</function>
    <lookless />
    <comment>Zpracuje tělo, ale kompletně ignoruje jeho výstup.</comment>
  </fulltag>
  <property>
  	<name>currentPage</name>
  	<getFunction>getCurrentPage</getFunction>
    <comment>
      Vrátí ID aktuální stránky. V průběhu renderování
    </comment>
  </property>
  <property>
  	<name>currentPageName</name>
  	<setFunction>setCurrentPageName</setFunction>
  	<getFunction>getCurrentPageName</getFunction>
    <comment>
      Vrátí název aktuální stránky. V průběhu renderování
    </comment>
  </property>
  <property>
  	<name>currentPageTitle</name>
  	<setFunction>setCurrentPageTitle</setFunction>
  	<getFunction>getCurrentPageTitle</getFunction>
    <comment>
      Vrátí titulek aktuální stránky. V průběhu renderování
    </comment>
  </property>
  <property>
  	<name>lastPageName</name>
  	<setFunction>setLastPageName</setFunction>
  	<getFunction>getLastPageName</getFunction>
    <comment>
      Vrátí název poslední stránky, která se má renderovat (té, co již neobsahuje web:content)
    </comment>
  </property>
  <property>
  	<name>lastPageTitle</name>
  	<setFunction>setLastPageTitle</setFunction>
  	<getFunction>getLastPageTitle</getFunction>
    <comment>
      Vrátí titulek poslední stránky, která se má renderovat (té, co již neobsahuje web:content)
    </comment>
  </property>
  <property>
  	<name>childPage</name>
  	<setFunction>setChildPage</setFunction>
  	<getFunction>getChildPage</getFunction>
    <comment>
      Vrátí ID další vykreslované stránky. Pokud bude PAGES={1,2,3,4}, a aktuálně se bude vykreslovat stránka ID=3, pak property web:childPage bude mít hodnotu 4.
    </comment>
  </property>
  <property>
  	<name>currentTime</name>
  	<setFunction>setCurrentTime</setFunction>
  	<getFunction>getCurrentTime</getFunction>
    <comment>
      Vrátí aktuální čas (timestamp)
    </comment>
  </property>
  <property>
  	<name>todayTimestamp</name>
  	<getFunction>getTodayTimestamp</getFunction>
    <comment>
      Vrátí timestamp pro půlnoc dnešního dne.
    </comment>
  </property>
  <property>
  	<name>randNum</name>
  	<setFunction>setRandomNumber</setFunction>
  	<getFunction>getRandomNumber</getFunction>
    <comment>
      Vrácí / Nastavuje náhodné číslo v session, pro nastavení lépe použít web:genRandNum
    </comment>
  </property>
  <property>
  	<name>currentHost</name>
  	<getFunction>getHttpHost</getFunction>
    <comment>
      Vrácí doménu aktuálního requestu (hlavička host).
    </comment>
  </property>
  <property>
  	<name>currentPath</name>
  	<getFunction>getRequestPath</getFunction>
    <comment>
      Vrácí path aktuálního requestu.
    </comment>
  </property>
  <property>
  	<name>currentProjectId</name>
  	<getFunction>getProjectId</getFunction>
    <comment>
      Vrácí ID aktuálního projektu.
    </comment>
  </property>
  <property>
  	<name>currentLanguageId</name>
  	<getFunction>getLanguageId</getFunction>
    <comment>
      Vrácí ID jazyku aktuálně zpracovávané stránky/requestu.
    </comment>
  </property>
  <property>
  	<name>isInsideForm</name>
  	<setFunction>setIsInsideForm</setFunction>
  	<getFunction>getIsInsideForm</getFunction>
    <comment>
      Vrácí / Nastavuje zda se aktuálně nacházíme uvnitř formuláře (při generování obsahu, například uvnitř šablony a pod).
    </comment>
  </property>
  <property>
  	<name>lastPageId</name>
  	<getFunction>getLastPageId</getFunction>
    <comment>
      Vrácí id aktuální stránky (té poslední pro aktuální request).
    </comment>
  </property>
  <property>
  	<name>debug</name>
  	<getFunction>getDebugMode</getFunction>
    <comment>
      Vrací "true" pokud je zapnutý debug mód.
    </comment>
  </property>
  <property>
  	<name>menu</name>
  	<getFunction>getMenuData</getFunction>
    <comment>
      Vrací list model uvnitř "web:menu".
    </comment>
  </property>
  <property>
  	<name>menuItemDisplay</name>
  	<getFunction>getMenuItemDisplay</getFunction>
    <comment>
      Vrací "display" text pro položku uvnitř "web:menu".
    </comment>
  </property>
  <property>
  	<name>menuItemUrl</name>
  	<getFunction>getMenuItemUrl</getFunction>
    <comment>
      Vrací URL pro položku uvnitř "web:menu".
    </comment>
  </property>
  <property>
  	<name>menuItemActive</name>
  	<getFunction>getMenuItemActive</getFunction>
    <comment>
      Vrací "true" pokud je položka uvnitř "web:menu" aktuální.
    </comment>
  </property>
  <property>
  	<name>menuItemIcon</name>
  	<getFunction>getMenuItemIcon</getFunction>
    <comment>
      Vrací ikonu pro položku uvnitř "web:menu".
    </comment>
  </property>
</taglib>

