version: '2'

services:
      
  web:
    image: nginx:latest
    ports:
      - "4242:80"
    volumes:
      - ./src:/src
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    links:
      - phpmyadmin
      - php

  php:
    build:
      context: .
      dockerfile: docker/php-apache-modrewrite-zip/dockerfile
    environment:
      - IS4WFW_DEVELOPMENT=true
      - IS4WFW_PORT=4242
    expose:
      - "9000"
    volumes:
      - ./src/.htaccess:/var/www/html/.htaccess:ro
      - ./src/app:/var/www/html/app:ro
      - ./temp/instance/cache:/var/www/html/cache
      - ./temp/instance/logs:/var/www/html/logs
      - ./temp/instance/user:/var/www/html/user
      - ./test:/var/www/html/test:ro
      - ./docker/php.conf:/usr/local/etc/php-fpm.d/zz-log.conf
      - ./docker/php.ini:/usr/local/etc/php/conf.d/php-my.ini
    links:
      - mysql:db

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=1234
      - PMA_ABSOLUTE_URI=http://localhost:4242/phpmyadmin
    links:
      - mysql:db
        
  mysql:
    image: mysql:8.0.19
    ports:
      - "3306:3306"
    environment:
      - MYSQL_DATABASE=phpwfw
      - MYSQL_ROOT_PASSWORD=1234
      - MYSQL_USER=phpwfw
      - MYSQL_PASSWORD=1234
    command: --sql_mode="" --lower_case_table_names=1
    volumes:
      - "./temp/mysql:/var/lib/mysql"