<form name="directory-edit" method="post" action="{Function fa:redirectUrlWithQueryString}">
	<div class="gray-box">
		<label for="dir-name" class="w60">{Resource label.name}:</label>
		<input type="text" name="dir-name" id="dir-name" value="{Binding name}" class="w300" />
	</div>
	<div class="gray-box">
		<label for="dir-url" class="w60">{Resource label.url}:</label>
		<input type="text" name="dir-url" id="dir-url" value="{Binding url}" class="w400" />
	</div>
	{Template this fileadmin-directory-perm fa:canUseRights}
	<div class="clear"></div>
	<div class="gray-box jq-buttons">
		<input type="hidden" name="dir-id" value="{Binding parent_id}" />
		<input type="hidden" name="directory-id" value="{Binding id}" />
		<input type="submit" name="directory-save" value="{Resource button.save}" />
	</div>
</form>