/* CSS Document */

html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0 auto;
}

.main-layout {
    min-height: 100vh;
}

.main-menu {
    min-height: calc(100% - 56px);
}

.main-menu > nav {
    position: sticky;
    top: 56px;
}

.main-menu-background {
    background: url(/images/cms/design/menu-background.png);
}

.cms-menu .menu-root a, .cms-menu .menu-root a:hover {
    background-color: #04601C !important;
}

.frame-body {
    font-size: 14px;
}

.frame label {
    margin: 0 !important;
}

.frame hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.frame code {
    color: unset;
}

.bg-primary {
    background-color: #04601C !important;
}

.btn-primary, 
.btn-outline-primary {
    border-color: #04601C;
}

.btn-primary {
    background-color: #04601C;
}

.btn-outline-primary {
    color: #04601C;
}

.btn-primary:hover,
.btn-outline-primary:hover {
    color: white;
    background-color: #054817;
    border-color: #054817;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: white;
    background-color: #054817;
    border-color: #054817;
}

.btn-primary:focus,
.btn-outline-primary:focus {
    color: white;
    background-color: #04601C;
    border-color: #04601C;
    box-shadow: 0 0 0 0.2rem rgb(4 96 28 / 50%);
}

.icon-button {
    background: transparent;
    border: none;
}

.icon-button:hover {
    text-decoration: none !important;
}

.navbar {
    min-height: 56px;
}

.main-menu-col .navbar-toggler {
    display: block;
    border: none;
    outline: none;
    padding: .3125rem 0;
}

.main-menu-col .navbar {
    padding: .5rem .45rem;
}

.main-menu-collapsed {
    flex: 0 0 41px;
    width: 41px;
}

.main-menu-collapsed .navbar {
    padding: .5rem .45rem;
}

.main-menu-collapsed .navbar-brand {
    display: none !important;
}

.main-menu-collapsed .cms-menu-home {
    display: block !important;
}

.main-menu-collapsed .menu-root a {
    padding: 3px !important;
}

.main-menu-collapsed .menu a {
    padding: 4px !important;
}

.main-menu-collapsed .cms-menu img {
    margin: 0 !important;
}

.main-menu-collapsed .menu .text, 
.main-menu-collapsed .menu-root .text {
    display: none;
}

.menu-root {
    position: relative;
}

.menu-toggler {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 15px;
    height: 15px;
    padding: 0;
    outline: none !important;
    border: none;
    /* background: url(/images/minus.png); */
    background: transparent;
}

.menu-toggler .fa {
    color: white;
    display: block;
}

.menu-toggler .fa.menu-toggler-expand {
    display: none;
}

.cms-menu-collapsed .menu-toggler .fa.menu-toggler-expand {
    display: block;
}

.cms-menu-collapsed .menu-toggler .fa.menu-toggler-collapse {
    display: none;
}

/* .cms-menu-collapsed .menu-toggler {
    background: url(/images/plus.png);
} */

.cms-menu-collapsed .menu {
    display: none;
}

.main-menu-collapsed .menu-toggler {
    right: 3px;
    top: 7px;
    width: 18px;
    height: 18px;
}

.main-menu-collapsed .menu-toggler .fa {
    display: none !important;
}

.home .warning {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;

    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;

    background-image: none;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
}

.data-item {
    white-space: nowrap;
}

.data-item .action-placeholder {
    width: 32px;
    display: inline-block;
}

.frame form {
    margin: 0;
    display: inline;
}

label[title]::after {
    content: "?";
    padding: 0 3px;
    background: yellow;
    margin-left: 3px;
}

label[title^=Obsolete] {
    color: #888;
}

input, select, textarea {
    border: 2px solid #cccccc;
    background: white;
}

input.input-focused, select.input-focused, textarea.input-focused {
    border: 2px solid #04601C;
}

input[type=image] {
    border: none !important;
}

input[disabled] {
    background: #eeeeee;
}

.frame input[type=button], .frame input[type=submit], .frame button:not([role="presentation"]):not(.mce-open), .frame .editor-panel input[type=button], .frame a.button, .frame .buttons a {
    cursor: pointer;
    font-size: small;
    font-family: Arial;
    color: Black;
    margin: 0;
    padding: 3px 10px;
    text-decoration: none;
    background:url("/images/hborder.png") repeat-x scroll 0 -27px transparent;
    border: 1px outset #CCCCCC;
}

.frame a.button, .frame .buttons a {
    padding: 2px 10px 3px 10px;
    display: inline-block;
}

.frame input,
.frame textarea,
.frame button,
.frame select {
    outline: none;
}
.frame input[type=text], .frame input[type=password], .frame select {
    padding: 1px 2px;
}

input[type=button]:hover, input[type=submit]:hover, a.button:hover, .buttons a:hover {
    border-color:#99CCFF #6699EE #6699EE #77AAFF;
}

input.confirm {
    color: red;
}

textarea {
    width: 100%;
    white-space: nowrap;
}

input[type=image] {
    margin-bottom: -4px;
}

select[multiple=multiple] {
    min-width: 150px;
    min-height: 140px;
}

.clickable tr td {
    cursor: Pointer;
}

.hspace {
    padding: 3px;
}

.image-button {
    display: inline-block;
    vertical-align: middle;
}

.image-button img {
    display: block;
    margin-bottom: 1px;
}

a .image-button {
    margin-top: -4px;
}

.add-rem-text-files-submit {
    margin-top: 10px;
}

.break {
    height: 10px;
}

.show-lines table input[type=image], .group-list table input[type=image], .user-log-list input[type=image], .languages-edit input[type=image], .show-projects input[type=image], .page-file-list input[type=image], .template-list input[type=image], .dir-list input[type=image] {
    margin-bottom: -2px;
}

.closed .frame-body {
    background: white;
    display: none;
}

.pages-list td {
    padding: 2px 10px;
}

table.pages-table {
    border-collapse: collapse;
}

.add-page {
    margin-top: .5rem;
}
/*
.inn-1 {
  background: #eeeeee;
}

.inn-2 {
  background: #dddddd;
}

.inn-3 {
  background: #cccccc;
}

.inn-4 {
  background: #bbbbbb
}
*/
.page-item {
    clear: both;
}

.page-edit, .page-edit form {
    text-align: left;
}

.float-right {
    width: 400px;
    float: right;
}

.clear {
    clear: both;
}

.page-list span {
    padding: 2px 5px;
}

.page-language-version {
    display: inline;
}

.page-list span.page {
    display: block;
    padding: 2px 0 4px 0;
}

.page-list li span:hover {
    background: #eeeeee;
}

.page-id-col {
    color: #888888;
}

.page-name {
    font-weight: bold;
}

.page-file-list, .template-list, .system-properties table, .system-notes table {
    width: 100%;
    border-top: 1px solid #cccccc;
    border-collapse: collapse;
}

.show-lines table, .group-list table, .user-log-list table, .hp-projection-edit table, 
table.seasons-list, table.teams-list, table.players-list, table.table, table.match-edit-table, table.matches-table, table.match-stats-table,
.db-connection table, table.guestbook-list,
table.standart {
    margin: 2px;
    border-top: 1px solid #cccccc;
    border-collapse: collapse;
}

.dir-list th {
    height: 20px;
}

.dir-list td {
    height: 27px;
}

.action-placeholder:not(.has-prev) input[type=image] {
    margin-left: 16px;
}

.action-placeholder:not(.has-next) input[type=image] {
    margin-right: 16px;
}

.match-stats-name {
    width: 150px;
}

table .match-stats-position select {
    width: 100px;
}

.show-lines table td, .group-list table td, .user-log-list td, .languages-edit td, .show-projects td, 
.user-list-table td, .dir-list td, .hp-projection-edit td, .references-edit td, .url-cache-table td, 
table.seasons-list td, table.teams-list td, table.players-list td, table.table td, table.matches-table td, table.match-stats-table td,
.system-properties table td, .system-notes table td, .db-connection table td, table.guestbook-list td,
table.standart td {
    padding: 2px 10px;
    border-bottom: 1px solid #cccccc;
}

.group-list table th, .show-lines table th, .user-log-list th, .user-list-table th, .dir-list th, 
.hp-projection-edit th, .references-edit th, table.seasons-list th, table.teams-list th, table.players-list th, table.table th,
table.match-edit-table th, table.matches-table th, table.match-stats-table th, .system-properties th, .system-notes th,
.db-connection table th,
table.standart th {
    padding: 0 10px;
    text-align: left;
}

.file-tr th, .dir-list th, .show-lines th, .template-list th, .group-list th, .user-log-list th, .hp-projection-edit th, 
.references-edit th, table.seasons-list th, table.teams-list th, table.players-list th,
table.match-edit-table th, table.matches-table th, table.match-stats-table th, .system-properties th, .system-notes th,
.db-connection table th, table.guestbook-list th,
table.standart th {
    text-align: left;
    background-color: #cccccc;
    border-bottom: 1px solid black;
}

table.standart tr:nth-child(odd) {
    background-color: #eeeeee;
}

table.standart tr:nth-child(even) {
    background-color: white;
}

table.standart tr:hover td {
    background-color: yellow !important;
}

table.match-stats-table {
    margin: 10px 0;
}

table.match-edit-table td {
    border-bottom: 1px solid #cccccc;
}

table.match-edit-table td {
    padding: 6px 8px;
}

.table td:last-child {
    width:1%;
    white-space:nowrap;
}

.match-table-score input, .match-table-shoots input, .match-table-penalty input, .match-edit-round input {
    width: 40px;
}

.group-list .group-list-name, .seasons-list-id, .teams-list-name {
    font-weight: bold;
}

.match-stats-goals input, .match-stats-assists input, .match-stats-shoots input, .match-stats-penalty input {
    width: 40px;
}

.file-id {
    width: 20px;
}

.file-name {
    width: 200px;
    font-weight: bold;
}

td.template-id, td.matches-table-round {
    font-weight: bold;
} 

table .template-id {
    width: 20px;
}

.template-name,
.user-list-edit {
    white-space: nowrap;
}

.file-content, td.template-content {
    color: #777777;
}

.file-content-in {
    width: 560px;
    overflow: hidden;
}

.file-content-in .foo {
    width: 1000px;
    white-space: nowrap
}

.file-tr td, .template-list td {
    overflow: hidden;
    padding: 2px 5px;
    border-bottom: 1px solid #cccccc;
}

.frame-cover {
    margin-top: 15px;
}

.frame-cover:first-child {
    margin-top: 0;
}

div.login {
    width: 256px;
    margin: 100px 0 0 100px;
    padding: 10px;
    float: left;
    background: #04601C url('/images/cms/login/login-head.jpg') no-repeat 25px 24px;
    /*border: 5px solid #04601C;*/
    border: 5px solid #eeeeee;
}

div.login-head {
    width: 100%;
    height: 22px;
    /*background: url('/images/cms/login/login-head.png') no-repeat;*/
}

div.login-in {
    padding-bottom: 6px;
    /*background: url('/images/cms/login/login-body.png') no-repeat left bottom;*/
}

p.login-submit input[type=checkbox] {
    margin-left: 10px;
}

div.login-form {
    margin: 0 10px;
    padding: 0 5px;
}

div.login-form form {
    margin: 0
}

div.login-form {
    color: white;
}

div.login-form input.input-focused {
    border-color: #CFBE0C;
}

div.login-form .login-head {
    font-weight: bold;
    visibility: hidden;
}

div.login-form p.login-head {
    margin-top: 0;
}

div.login-form p.login-message {
    background-color:red;
    margin: 30px 0 -25px 0;
    padding: 4px;
    font-weight: bold;
}

.dir-list .dir-name input[type=submit], .dir-list td input[type=submit] {
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-family: Times;
    font-size: 16px;
    padding: 0;
    background: transparent;
    border: none;
}

.frame-cover {
    border: 1px solid #04601C;
}

.frame-head {
    width: 100%;
    cursor: Pointer;
    background-color: #04601C;
}

.frame-cover .frame-head .click-able-roll {
    width: 15px;
    height: 15px;
    margin: 3px;
    display: block;
    background: url('/images/minus.png');
}

.frame-cover.closed-frame .frame-head .click-able-roll {
    background: url('/images/plus.png');
}

.frame-cover .frame-head .click-able-roll span {
    display: none;
}

.frame-cover.closed-frame .frame-body {
    display: none;
}

.frame-head .frame-label {
    color: white;
    float: left;
    padding: 1px 0 1px 5px;
}

.frame-head .frame-close {
    float: right;
}

.frame-body {
    padding: 5px;
    background: white;
}

.frames-used .frame-body {
    display: none;
}

th.file-head-th {
    background-color: #cccccc;
}

.dir-list {
    width: 100%;
    border-collapse: collapse;
}

.dir-list .file-edit, .dir-list .dir-edit {
    width: 60px;
}

.dir-list .file-icon, .dir-list .file-id, .dir-list .file-type, .dir-list .dir-icon, .dir-list .dir-id, .dir-list .dir-type {
    width: 20px;
}

.dir-list .file-name, .dir-list .dir-name {
    width: 300px;
}

.dir-list .th-timestamp {
    width: 100px;
}

.dir-list .th-dir-physical-path {
    width: 60px;
}

.dir-list .th-edit {
    width: 50px;
}

.dir-list tr.even, .dir-list tr.even .dir-name input {
    background-color: #eeeeee;
}

.edit-prop, .edit-rights {
    float: left;
}

.edit-rights div, .text-file-name, .text-file-type, .edit-keywords, .gray-box-float {
    float: left;
    padding: 6px 8px;
    margin: 2px;
    background-color: #eeeeee;
}

.gray-box {
    padding: 6px 8px;
    margin: 2px;
    background-color: #eeeeee;
}

table.gray-box {
    padding: 0;
    border-collapse: collapse;
}

table.gray-box tr th {
    padding: 6px 8px;
    font-weight: normal;
    text-align: left;
}

table.gray-box tr td {
    padding: 6px 8px;
    border-top: 2px solid white;
}

.grid-2 {
    width: 50%;
    float: left;
}

.grid-3 {
    width: 33.3%;
    float: left;
}

.grid-4 {
    width: 25%;
    float: left;
}

.gray-box.grid-2 {
    width: calc(50% - 20px);
}

.gray-box.grid-3 {
    width: calc(33.3% - 20px);
}

.gray-box.grid-4 {
    width: calc(25% - 20px);
}

.player-search-submit {
    padding-left: 105px;
}

.edit-prop .edit-in-title input, .edit-prop .edit-menu input, .edit-prop .edit-visible input, .edit-prop .edit-clear-cache input, .edit-prop .edit-language select, .project-edit-http, .project-edit-https, .edit-cache-time select {
    display: block;
}

.edit-prop .edit-name, .edit-prop .edit-href {
    text-align: right;
}

.edit-prop .edit-name input, .edit-prop .edit-href input {
    width: 320px;
}

.edit-keywords input {
    width: 700px;
}

.edit-rights select {
    width: 116px;
}

.edit-prop div, .edit-area-editors {
    padding: 6px 8px;
    margin: 2px;
    background-color: #eeeeee;
}

.editors .editors-tab {
    padding-bottom: 10px;
}

.edit-rights label {
    display: block;
}

.edit-prop div.clear, .edit-rights .clear {
    float: none;
    padding: 0;
    margin: 0;
}

.edit-tl-start, .edit-tl-end, .edit-content .edit-head, .edit-content .edit-content, .text-file-content, .user-edit-login, .user-edit-name, .user-edit-surname, .user-edit-password, .user-edit-password-again, .user-edit-submit, .user-edit-info, .user-edit-groups, .directory-name, .user-edit-enable,
.db-connection-edit div {
    padding: 6px 8px;
    margin: 2px;
    background-color: #eeeeee;
}

.edit-submit, .text-file-submit {
    padding: 6px 8px;
    margin: 2px;
    text-align: right;
    background-color: #eeeeee;
}

.user-edit-cover span, .directory-name span, .new-group-name span {
    color: red;
}

.user-edit-prop {
    width: 500px;
    float: left;
    text-align: right;
}

.user-edit-prop input, .user-edit-prop select {
    width: 300px;
}

.user-edit-prop label {
    float: left;
}

.user-edit-enable {
    text-align: left;
}

.user-edit-enable input {
    width: auto;
    margin-left: 120px;
}

.user-edit-groups {
    float: left;
}

.user-edit-groups label {
    display: block;
}

.note, .warning, .error, .fatal, .success {
    font-size: 15px;
    margin: 2px;
    padding: 0 0 1px 18px;
    color: white;
}

.note {
    color: black;
    background: url('/images/note.png') no-repeat 1px 2px;
}

.warning {
    background: url('/images/warning.png') #ff8c2f no-repeat 1px 3px;
}

.error {
    background: url('/images/error.png') #bd2828 no-repeat 1px 3px;
}

.fatal {
    background: url('/images/error.png')  #660000 no-repeat 1px 3px;
}

.success {
    background: url('/images/success.png') #38cb35 no-repeat 1px 3px;
}

body {
    overflow: -moz-scrollbars-vertical;
    background-color: #cccccc;
    /*background: url('/file.php?rid=155') no-repeat left top;*/
}

.cms .head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    padding: 1px;
    z-index: 200000;
    background: url('/images/cms/design/head-line.png') repeat-x;
}

.cms .template-submit {
    text-align: right;
}

.cms .head .refresh-cover {
    float: right;
    margin-top: -3px;
}

.cms .head .refresh-cover input[type=checkbox] {
    margin: 0;
}

.cms .head .logout-form {
    margin-right: 20px;
    float: right;
}

.cms .head .logout-form form {
    margin: 0;
}

.cms .head .logout-form p {
    margin: 2px 0 9px 0;
}

.cms .head .logout-form input[type=submit] {
    width: 30px;
    height: 31px;
    color: transparent;
    background: url('/images/cms/design/logout-icon.png') no-repeat;
    border: none;
}

.cms .head .user-info, .cms .head .select-project, .cms .head .logon-count-down, .cms .head .refresh-session, .cms .web-version {
    font-size: 11px;
    float: right;
    margin: 2px 10px 0 2px;
    padding: 2px 4px;
    background: url('/images/cms/design/dot-transparent.png');
    border: 1px solid #011D09;
    height: 28px;
}

.cms .head .refresh-session {
    height: 24px;
    padding: 4px;
}

.cms .head .select-project label {
    display: none;
}

.hidden {
    display: none;
}

.cms .loading {
    height: 20px;
    font-weight: bold;
    font-size: 16px;
    padding: 6px;
}

.cms .web-version .value {
    text-align: center;
    font-weight: bold;
}

/* Pro prvni "bublinu" */
.cms .head .refresh-session {
    margin-right: 20px;
}

.cms .head .logon-count-down .count-down-counter {
    font-weight: bold;
}

.cms .head .select-project {
    font-size: 12px;
    padding: 4px;
    height: 24px;
}

.cms .head .select-project select {
    min-width: 100px;
}

.cms .head .select-project label {
    font-weight: bold;
    border-bottom:1px solid black;
    border-top:1px solid black;
    font-weight:bold;
    padding:2px 0;
}

.cms .head .user-info .user-login {
    margin: 16px 0 0 0;
    font-size: 10px;
}

.cms .head .user-info .user-group {
    margin-left: 10px;
    float: left;
}

.cms .head .user-info .user-name {
    float: left;
    font-weight: bold;
}

.cms .head .cms-menu .menu-root {
    width: 100px;
    display: block;
    font-weight: bold;
    color: white;
    cursor: Pointer;
}

.cms .head .cms-menu .menu-root a {
    color: white;
    text-decoration: none;
}

.cms .body .home-cover {
    padding: 10px 55px 10px 55px;
}

.cms .dock-bar {
    bottom: 0;
    height: 30px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
}

.cms .dock-in {
    height: 30px;
    margin: 0 30px;
    background-color: #eeeeee;
    border-top: 1px solid #888888;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
}

.cms .dock-item {
    border-right: 1px solid #aaaaaa;
    color:	#000000;
    float:	left;
    font-size:	14px;
    height:	21px;
    line-height:	22px;
    /*margin: 3px 5px 0 5px;*/
    padding: 4px 10px;
    cursor: Pointer;
}

.cms .dock-left {
    float: left;
    padding: 5px 5px;
    border-right: 1px solid #888888;
    /*margin: 0 10px 0 0;*/
}

.cms .dock-item:hover, .cms .dock-right .web-ajax-log-cover:hover {
    background-color: #ffffff !important;
}

.cms .dock-left img {
    margin: 0 5px;
    cursor: Pointer;
    float: left;
}

.cms .dock-right {
    float: right;
}

.cms .dock-mid {
    font-family: Arial;
}

.cms .dock-mid .dock-item {
    background-color: #dddddd;
}

.cms .dock-mid .dock-item img {
    margin: 3px 5px 0 0;
    float: left;
}

.cms .dock-mid .dock-item .dock-close-x {
    margin: 3px 0 0 5px;
    float: right;
}

.cms .clock, .cms .web-ajax-log-cover {
    padding: 5px 10px;
    border-left: 1px solid #888888;
    margin: 0;
    float: left;
    height: 26px;
    cursor: Pointer;
}

.cms .run-cover {
    display: none;
}

.cms .run-input {
    margin: 0;
    padding: 0;
    float: left;
}

.cms .shown {
    display: inline !important;
}

.cms .web-ajax-log-date {
    color: #333333;
    font-weight: bold;
}

.cms .web-ajax-log-cover {
    padding: 5px 10px 0 10px;
}

.cms .clock div {
    display: inline;
}

.cms .refresh-session form {
    float: left;
}

.article-mgm-td.article-mgm-id {
    width: 40px;
    font-weight: bold;
}

.article-mgm-td.article-mgm-id span {
    display: block;
    background: yellow;
}

.article-mgm-td.article-mgm-name {
    width: 100px;
}

.article-mgm-td.article-mgm-lang {
    width: 30px;
}

.article-mgm-td.article-mgm-edit {
    width: 50px;
}

.article-mgm-show form {
    margin: 0;
}

.article-head-cover {
    width: 680px;
    overflow: hidden;
    white-space: nowrap;
}

.article-head-in {
    width: 1000px;
}

table.article-mgm-table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid gray;
}

table.article-mgm-table th {
    background-color: #cccccc;
}

table.article-mgm-table td {
    vertical-align: top;
}

.article-mgm-tr td {
    border-top: 1px solid #cccccc;
}

.article-mgm-first td {
    border-color: gray;
}

td.article-mgm-id, td.article-mgm-lang, td.article-mgm-edit {
    text-align: center;
}

td.article-mgm-id input[type=image] {
    margin: 2px;
}

td.article-mgm-head {
    color: #777777;
}

td.article-mgm-head, td.article-mgm-edit, td.article-mgm-lang {
    padding: 4px 0;
}

.article-name, .article-line, .article-lang, .article-author {
    float: left;
}

.article-name, .article-line, .article-lang, .article-head, .article-content, .article-author {
    padding: 6px 8px;
    margin: 2px;
    background-color: #eeeeee;
}

.article-submit {
    padding: 6px 8px;
    margin: 2px;
    text-align: right;
    background-color: #eeeeee;
}

.guestbook-line {
    margin: 4px 0;
    padding: 4px 0;
}

.guestbook-head {
    background-color: #cccccc;
    clear: both;
}

.guestbook-editable {
    float: right;
}

.guestbook-editable input[type=image] {
    margin-top: 2px;
}

.guestbook-name {
    float: left;
    margin-left: 10px;
    font-weight: bold;
}

.guestbook-timestamp, .guestbook-content {
    float: left;
}

.guestbook-answers {
    margin-left: 30px;
}

.even {
    background-color: #eeeeee;
}

.idle {
    background-color: white;
}

.id {
    font-weight: bold;
}

.user-list-table {
    border-collapse: collapse;
}

.user-list-table th {
    text-align: left;
    background-color: #cccccc;
    border-bottom: 1px solid black;
}

.edit-prop, .edit-rights, .project-prop, .project-edit-rights, .article-line-edit-name, .article-line-edit-rights, 
.template-rights, .up-file-prop, .hp-projection-form, .hp-reference-form {
    float: left;
}

.edit-prop .edit-in-title, .edit-prop .edit-menu, .edit-prop .edit-visible, .edit-clear-cache, .edit-cache-time, 
.edit-prop .edit-language, .edit-rights div, .text-file-name, .text-file-type, .text-file-browser, .project-edit-right-read, 
.project-edit-right-write, .project-edit-right-delete, .project-edit-http, .project-edit-https, .article-line-r-r, 
.article-line-r-w, .article-line-r-d, .template-right-r, .template-right-w, .template-right-d, .directory-right-r, 
.directory-right-w, .directory-right-d, .file-right-r, .file-right-w, .file-right-d, .project-edit-styles-wysiwyg {
    float: left;
    padding: 6px 8px;
    margin: 2px;
    background-color: #eeeeee;
}

.edit-prop .edit-name, .edit-prop .edit-href, 
.project-edit-name, .project-edit-url, .project-edit-alias1, .project-edit-alias2, .project-edit-alias3, 
.article-line-edit-name, .file-name label, 
.up-file-name label, .up-file-title label, .up-file-rs label, .up-file-name, .up-file-title, .up-file-rs, 
.new-group-name label, .new-group-parent label, 
.hp-projection-form label, .hp-reference-form label, 
.project-edit-error-all label, .project-edit-error-404 label, .project-edit-error-403 label
.season-edit-start label, .season-edit-end label {
    text-align: right;
}

.player-edit-form div {
    text-align: right;
}

.player-edit-form div label {
    float: left;
    margin-right: 10px;
}

.team-add-season {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #474747;
}

.season-edit-start input, .season-edit-end input {
    width: 100px;
}

.team-edit-name input, .team-edit-logo input, .team-edit-season select, .player-edit-form input[type=text], .player-edit-form select {
    width: 200px;
}

.player-edit-form .player-edit-birthyear input, .player-edit-form .player-edit-number input, .player-edit-form .player-edit-position input {
    width: 100px;
}

.hp-projection-form label, .hp-reference-form label {
    width: 80px;
    float: left;
}

.hp-projection-form .hp-projection-form-submit, .hp-reference-form .hp-reference-form-submit {
    text-align: right;
}

.edit-prop .edit-name input, .edit-prop .edit-href input, .project-edit-name input, .project-edit-url input, .project-edit-alias1 input, .project-edit-alias2 input, .project-edit-alias3 input, .article-line-edit-name input, .file-name input, .up-file-name input, .up-file-title input, .up-file-rs input, .directory-name input, .hp-projection-form input[type=text], .hp-reference-form input[type=text], .project-edit-error-all select, .project-edit-error-404 select, .project-edit-error-403 select {
    width: 320px;
}

.edit-prop .edit-name input, .edit-prop .edit-href input {
    width: 410px;
}

.new-group-name input {
    width: 200px;
}

.new-group-parent select {
    width: 298px;
}

.edit-rights select, .project-edit-rights select, .template-rights select, .file-right-r select, .file-right-w select .file-right-d select {
    width: 116px;
}

.edit-prop div, .project-prop div, .article-line-edit-name, .article-line-edit-submit, .move-branch, .up-file-name, 
.up-file-title, .up-file-rs, .up-file-submit, .directory-submit, .move-copy-branch, .new-group-name, .new-group-parent, 
.update-keywords, .add-new-language, .user-log-truncate, .hp-projection-form div, .hp-reference-form div, .project-edit-error-all, 
.clear-url-cache .part-of-url, .clear-url-cache .page-id, .clear-url-cache .project-id, .clear-url-cache .submit, .clear-url-cache .results, 
.project-edit-error-404, .project-edit-error-403,
.season-edit-id, .season-edit-start, .season-edit-end, .season-edit-submit, .player-edit-form div, .match-edit-form div,
.select-class-path {
    padding: 6px 8px;
    margin: 2px;
    background-color: #eeeeee;
}

.clear-url-cache .results table {
    background: white;
    border: 1px solid #cccccc;
}

.season-edit-id, .season-edit-start, .season-edit-end, .season-edit-submit, .player-edit-submit, .match-edit-submit {
    text-align: right;
}

.clear-url-cache input[type=submit] {
    margin: 0 5px;
}

.clear-url-cache .part-of-url, .clear-url-cache .page-id, .clear-url-cache .project-id, .season-edit-form, .team-edit-form, .player-edit-form, .match-edit-form {
    float: left;
}

.clear-url-cache .part-of-url input {
    width: 400px;
}

.clear-url-cache .project-id select {
    min-width: 140px;
}

.clear-url-cache .page-id input {
    width: 37px;
}

.move-branch select {
    min-width: 200px;
    _width: 200px;
}

.edit-rights label, .project-edit-rights label, .article-line-rights label, .template-rights label, .file-right-r label, .file-right-w label, .file-right-d label, .file-right-r label, .file-right-w label, .file-right-d label, .directory-right-r label, .directory-right-w label, .directory-right-d label {
    display: block;
}

.edit-prop div.clear, .edit-rights .clear {
    float: none;
    padding: 0;
    margin: 0;
}
.edit-tl-start, .edit-tl-end, .edit-content .edit-head, .edit-content .edit-content, .text-file-content, .template-edit-content, .template-submit {
    padding: 6px 8px;
    margin: 2px;
    background-color: #eeeeee;
}

.template-list .template-edit {
    width: 1%;
    white-space: nowrap;
}

.file-submit, .select-season, .select-table, .select-team {
    padding: 6px 8px;
    margin: 2px;
    background-color: #eeeeee;
}

.select-season select, .match-edit-form select, .select-team select, .select-table select {
    width: 200px;
}

.select-season, .select-team, .select-table {
    float: left;
}

.edit-submit, .text-file-submit {
    padding: 6px 8px;
    margin: 2px;
    text-align: right;
    background-color: #eeeeee;
}

.languages-edit, .show-projects, .references-edit table, .url-cache-table {
    border-collapse: collapse;
}

.languages-edit th, .show-projects th, .url-cache-table th {
    padding: 2px 10px;
    background-color: #CCCCCC none repeat scroll 0 0;
    border-bottom: 1px solid black;
    text-align: left;
}

.update-keywords .keywords-input {
    width: 500px;
}

.login-user input, .login-passwd input {
    width: 140px;
}

.select-webproject option {
    padding: 0 10px 0 2px;
}

.select-webproject .webproject {
    background-color: #cccccc;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.gray-color {
    color: #cccccc;
}

.obsolete {
    text-decoration: line-through;
}

.font-right {
    text-align: right;
}

.gray-box-float strong {
    border: 2px solid transparent;
}

.gray-box .small-font, .gray-box-float .small-font {
    font-size: 11px;
}

.gray-box label.padded, .gray-box-float label.padded {
    padding: 0 10px 0 0;
}

.gray-box .block, .gray-box-float .block {
    display: block;
}

.gray-box .w20, .gray-box-float .w20,
.gray-box .w30, .gray-box-float .w30,
.gray-box .w40, .gray-box-float .w40,
.gray-box .w50, .gray-box-float .w50,
.gray-box .w60, .gray-box-float .w60,
.gray-box .w80, .gray-box-float .w80,
.gray-box .w90, .gray-box-float .w90,
.gray-box .w100, .gray-box-float .w100,
.gray-box .w110, .gray-box-float .w110,
.gray-box .w120, .gray-box-float .w120,
.gray-box .w160, .gray-box-float .w160,
.gray-box .w200, .gray-box-float .w200,
.gray-box .w300, .gray-box-float .w300,
.gray-box .w400, .gray-box-float .w400,
.gray-box .w435, .gray-box-float .w435,
.gray-box .w500, .gray-box-float .w450
{
    display: inline-block;
}

.gray-box .w20, .gray-box-float .w20, .standart .w20 {
    width: 20px;
}

.gray-box .w30, .gray-box-float .w30, .standart .w30 {
    width: 30px;
}

.gray-box .w40, .gray-box-float .w40, .standart .w40 {
    width: 40px;
}

.gray-box .w50, .gray-box-float .w50, .standart .w50 {
    width: 50px;
}

.gray-box .w60, .gray-box-float .w60, .standart .w60 {
    width: 60px;
}

.gray-box .w80, .gray-box-float .w80, .standart .w80 {
    width: 80px;
}

.gray-box .w90, .gray-box-float .w90, .standart .w90 {
    width: 90px;
}

.gray-box .w100, .gray-box-float .w100, .standart .w100 {
    width: 100px;
}

.gray-box .w110, .gray-box-float .w110, .standart .w110 {
    width: 110px;
}

.gray-box .w120, .gray-box-float .w120, .standart .w120 {
    width: 120px;
}

.gray-box .w160, .gray-box-float .w160, .standart .w160 {
    width: 160px;
}

.gray-box .w200, .gray-box-float .w200, .standart .w200 {
    width: 200px;
}

.gray-box .w300, .gray-box-float .w300, .standart .w300 {
    width: 300px;
}

.gray-box .w400, .gray-box-float .w400, .standart .w400 {
    width: 400px;
}

.gray-box .w435, .gray-box-float .w435, .standart .w435 {
    width: 435px;
}

.gray-box .w450, .gray-box-float .w450, .standart .w450 {
    width: 450px;
}

.gray-box .w500, .gray-box-float .w500, .standart .w500 {
    width: 500px;
}

.gray-box .w600, .gray-box-float .w600, .standart .w600 {
    width: 600px;
}

.gray-box .w700, .gray-box-float .w700, .standart .w700 {
    width: 700px;
}

.gray-box .wmax, .gray-box-float .wmax, .standart .wmax {
    display: block;
}

.wmax {
    width: 100%;
}

.mw200 {
    max-width: 200px;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.gray-box .ml100, .gray-box-float .ml100, .standart .ml100 {
    margin-left: 100px;
}

.gray-box .ml160, .gray-box-float .ml160, .standart .ml160 {
    margin-left: 160px;
}

.gray-box .small-note {
    color: #777777;
    font-size: 90%;
}

.gray-box .padded, .standart .padded {
    padding: 0 10px;
}

.fright {
    float: right;
}

.h30 {
    min-height: 30px;
}

.h40 {
    min-height: 40px;
}

.h50 {
    min-height: 50px;
}

.h60 {
    min-height: 60px;
}

.h100 {
    min-height: 100px;
}

.h200 {
    min-height: 200px;
}

.h300 {
    min-height: 300px;
}

.floatedl, .gray-box .floatedl, .gray-box-float .floatedl {
    float: left;
}

.long-input {
    width: 500px;
}

/* ----------------- Hint ----------------------- */

.lib-head, .tag-h2, .lib-tag {
    padding: 6px 8px;
    margin: 4px 2px;
    background-color: #eeeeee;
}

.lib-tag {
    padding-left: 25px;
}

.hint-lib h1 {
    margin: 0;
    font-size: 23px;
}

.hint-lib .tag-h2 h2 {
    font-size: 20px;
    margin: 0;
}

.hint-lib h3 {
    margin: 0;
    font-size: 18px;
    text-decoration: underline;
    padding: 4px;
}

.hint-lib strong.version {
    font-size: 14px;
}

.hint-lib table {
    border-collapse: collapse;
    border-top: 1px solid #cccccc;
}

.hint-lib table, .hint-lib p {
    margin-left: 25px;
}

.hint-lib table td {
    padding: 2px 10px;
    vertical-align: top;
    border-bottom: 1px solid #cccccc;
}

.hint-lib table th {
    padding: 0 10px;
    text-align: left;
    vertical-align: top;
}

.hint-lib table th {
    text-align: left;
    background: #ccc;
    border-bottom: 1px solid black;
}

.hint-lib .att-name {
    min-width: 100px;
}

.system-properties table, .system-notes table {
    width: 100%;
}

.system-properties .system-properties-delete, .system-notes .system-note-delete {
    width: 40px;
}

.system-properties input[type=text], .system-notes input[type=text] {
    width: 94%;
}

.cms .head .refresh-session-button {
    width: 30px;
    height: 30px;
    font-size: 1px;
    color: transparent;
    background: url('/images/cms/design/refresh-icon.png') no-repeat left top;
    border: none !important;
}

.cms .system-properties-submit, .cms .system-note-submit {
    margin-top: 10px;
}

.cms .dataTables_wrapper {
    padding: 4px;
    background-color: #eeeeee;
}

.cms .dataTables_length, .cms .dataTables_filter {
    float: left;
    margin: 2px 4px 2px 0;
}

.cms .dataTables_info {
    display: inline;
    margin: 2px 4px 2px 0;
}

.cms .dataTables_paginate {
    height: 16px;
    float: right;
    margin: 2px 0 2px 4px;
}

.cms .dataTables_paginate div {
    width: 16px;
    height: 16px;
    float: left;
    margin: 0 0 0 2px;
}


.cms .guestbook-line {
    background: white !important;
}

.mr-1 {
   margin-right: .25rem;
}

/* ----------------------- ICONS ------------------------------ */

.file-icon {
    background: url('/images/icons/file.gif') no-repeat center center;
}

.dir-icon {
    background: url('/images/icons/folder-orange.gif') no-repeat center center;
}

.file-icon.css {
    background-image: url('/images/icons/web-page-orange.gif');
}

.file-icon.js {
    background-image: url('/images/icons/page_script.gif');
}

.file-icon.jpg, .file-icon.gif, .file-icon.png, .file-icon.bmp {
    background-image: url('/images/icons/image.gif');
}

.file-icon.pdf {
    background-image: url('/images/icons/pdf.gif');
}

.file-icon.rar, .file-icon.zip {
    background-image: url('/images/icons/zip-file.gif');
}

.file-icon.txt, .file-icon.sql, .file-icon.c, .file-icon.cpp, .file-icon.h {
    background-image: url('/images/icons/text-file.gif');
}

.file-icon.java {
    background-image: url('/images/icons/page_java.gif');
}

.file-icon.php {
    background-image: url('/images/icons/page_php.gif');
}

.file-icon.html {
    background-image: url('/images/icons/page_html.gif');
}

.file-icon.xml, .file-icon.xsl, .file-icon.dtd {
    background-image: url('/images/icons/web-page-blue.gif');
}

.file-icon.swf {
    background-image: url('/images/icons/flash-file.gif');
}

.file-icon.mp3 {
    background-image: url('/images/icons/mp3-music-file.gif');
}

.file-icon.psd {
    background-image: url('/images/icons/photoshop-file.gif');
}

.file-icon.doc {
    background-image: url('/images/icons/ms-word.gif');
}

.file-icon.ppt {
    background-image: url('/images/icons/page_white_powerpoint.png');
}

.file-icon.xls {
    background-image: url('/images/icons/excel-file.gif');
}

.file-icon.mpeg, .file-icon.avi, .file-icon.mov {
    background-image: url('/images/icons/page_video.gif');
}

/* ---------------------- Login icons ---------------------------------------- */

.login-icons {
    width: 80px;
    padding: 5px;
    margin: 10px;
    float: right;
    background: url('/images/cms/design/menu-background.png') repeat;
    border: 1px solid #cccccc;
}

.login-icons img {
    display: block;
    margin: 2px 0;
}

/* ---------------------- CMS MENU ------------------------------------------- */

.cms-menu .link a {
    width: 100%;
    display: block;
    padding: 3px 12px;
    color: #04601C;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.cms-menu .link a:hover {
    background-color: #ccc !important;
}

.cms-menu img, .menu-root img {
    display: inline-block;
    margin-top: -2px;
}

.cms-menu img, .menu-root img {
    margin-top: -4px;
}
    

.cms-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.cms-menu .menu-root a {
    color: white;
    text-align: left;
}

.cms-menu li .link {
    white-space: nowrap;
}
