html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #ddd !important;
}

.is4wfw.container, .is4wfw .row {
    height: 100%;
}

.is4wfw .card {
    border-color: #04601C;
}

.is4wfw .card-header {
    color: #ffffff;
    background-color: #04601C;
}