<?xml version="1.0" encoding="utf-8"?>

<menu>
    <item name="Pages" name-cs="Stránky" url="~/in/pages.view" security:requirePerm="CMS.Web.Pages" />
    <item name="Text files (css/js)" name-cs="Textové soubory" url="~/in/text-files.view" security:requirePerm="CMS.Web.TextFiles" />
    <item name="Templates" name-cs="Šablony" url="~/in/templates.view" security:requirePerm="CMS.Web.Templates" />
    <item name="Search" name-cs="Vyhledávání" url="~/in/search.view" security:requirePerm="CMS.Web.Search" />
    <item name="Embedded Resources" name-cs="Vložené zdroje" url="~/in/embedded-resources.view" security:requirePerm="CMS.Web.EmbeddedResources" />
    <item name="Custom forms" name-cs="Uživatelské formuláře" url="~/in/custom-forms.view" security:requirePerm="CMS.Web.CustomForms" />
    <item name="Custom entities" name-cs="Uživatelské entity" url="~/in/custom-entities.view" security:requirePerm="CMS.Web.CustomEntities" />
    <item name="File manager" name-cs="Správce souborů" url="~/in/filesng.view" security:requirePerm="CMS.Web.FileManager" />
    <item name="Articles" name-cs="Články" url="~/in/articles.view" security:requirePerm="CMS.Web.Articles" />
    <item name="Guestbooks" name-cs="Knihy návštěv" url="~/in/guestbooks.view" security:requirePerm="CMS.Web.Guestbooks" />
    <item name="Inquiries" name-cs="Ankety" url="~/in/inquiries.view" security:requirePerm="CMS.Web.Inquiries" />
    <item name="Web forwards" name-cs="Přesměrování" url="~/in/web-forwards.view" security:requirePerm="CMS.Web.WebForwards" />
    <item name="Web projects" name-cs="Webové projekty" url="~/in/web-projects.view" security:requirePerm="CMS.Web.WebProjects" />
</menu>