<?xml version="1.0" encoding="utf-8" ?>

<taglib>
  <name>System setup lib</name>
  <classname>System</classname>
  <classpath>php.libs</classpath>
  <version>1.05</version>
  <count>*</count>
  <comment>
    Třída pro správu webového frameworku.
  </comment>
  <tag>
    <tagname>manageProperties</tagname>
    <function>manageProperties</function>
    <attribute>
      <attname>userId</attname>
      <attreq>implied</attreq>
    </attribute>
    <attribute>
      <attname>useFrames</attname>
      <attreq>implied</attreq>
    </attribute>
    <attribute>
      <attname>showMsg</attname>
      <attreq>implied</attreq>
    </attribute>
    <comment>
      Zobrazí formulář pro nastavení uživatelsky závislých systémových proměnných.
      Pokud má 'userId' hodnotu '0' nebo 'default', nastavují se výchozí hodnoty, které budou zkopírovány každému novému uživateli.
    </comment>
  </tag>
  <tag>
    <tagname>manageNotes</tagname>
    <function>manageNotes</function>
    <attribute>
      <attname>useFrames</attname>
      <attreq>implied</attreq>
    </attribute>
    <attribute>
      <attname>showMsg</attname>
      <attreq>implied</attreq>
    </attribute>
    <comment>
      Zobrazí formulář pro editaci uživatelských poznámek.
    </comment>
  </tag>
  <tag>
    <tagname>printNotes</tagname>
    <function>printNotes</function>
    <attribute>
      <attname>useFrames</attname>
      <attreq>implied</attreq>
    </attribute>
    <attribute>
      <attname>showMsg</attname>
      <attreq>implied</attreq>
    </attribute>
    <comment>
      Zobrazí uživatelské poznámky.
    </comment>
  </tag>
  <tag>
    <tagname>editAdminMenu</tagname>
    <function>editAdminMenu</function>
    <attribute>
      <attname>useFrames</attname>
      <attreq>implied</attreq>
    </attribute>
    <attribute>
      <attname>showMsg</attname>
      <attreq>implied</attreq>
    </attribute>
    <comment>
      Zobrazí editaci Admin menu.
    </comment>
  </tag>
  <tag>
    <tagname>adminMenu</tagname>
    <function>adminMenu</function>
    <attribute>
      <attname>url</attname>
      <attreq>required</attreq>
    </attribute>
    <attribute>
      <attname>classes</attname>
      <attreq>implied</attreq>
    </attribute>
    <comment>
      Zobrazí Admin menu.
    </comment>
  </tag>
  <tag>
    <tagname>adminMenuItem</tagname>
    <function>adminMenuItem</function>
    <comment>
      Zobrazí iframe s obsahem.
    </comment>
  </tag>
  <tag>
    <tagname>editConnection</tagname>
    <function>editConnection</function>
    <attribute>
      <attname>useFrames</attname>
      <attreq>implied</attreq>
    </attribute>
    <attribute>
      <attname>showMsg</attname>
      <attreq>implied</attreq>
    </attribute>
    <comment>
      Zobrazí editaci připojení k db.
    </comment>
  </tag>
  <tag>
    <tagname>listConnections</tagname>
    <function>listCOnnections</function>
    <attribute>
      <attname>useFrames</attname>
      <attreq>implied</attreq>
    </attribute>
    <attribute>
      <attname>showMsg</attname>
      <attreq>implied</attreq>
    </attribute>
    <comment>
      Zobrazí výpis připojení k db.
    </comment>
  </tag>
  <tag>
    <tagname>manageRoleCache</tagname>
    <function>manageRoleCache</function>
    <attribute>
      <attname>buttonOnly</attname>
      <attreq>implied</attreq>
	    <attdef>false</attdef>
    </attribute>
    <attribute>
      <attname>useFrames</attname>
      <attreq>implied</attreq>
	    <attdef>true</attdef>
    </attribute>
    <comment>
      Zobrazí správu role-cache.
    </comment>
  </tag>
  <property>
  	<propname>cmsWindowsStyle</propname>
  	<setfunction>setCmsWindowsStyle</setfunction>
  	<getfunction>getCmsWindowsStyle</getfunction>
    <comment>
      Vlastnost cmsWindowsStyle, v system.properties s klicem System.cms.windowsstyle.
    </comment>
  </property>
  <property>
  	<propname>hasAdminMenu</propname>
  	<getfunction>hasAdminMenu</getfunction>
    <comment>
      Vlastnost, která vrací "true", pokud je definována alespoň jedna položka admin menu.
    </comment>
  </property>
</taglib>

