RewriteEngine on
RewriteRule ^setup.php$ app/setup.php
RewriteRule ^service/.*$ app/service.php
RewriteRule ^([a-zA-Z0-9/_-]*)$ app/index.php?WEB_PAGE_PATH=$1&%{QUERY_STRING}
RewriteRule ^(.*).view$ app/view.php?WEB_PAGE_PATH=$1&%{QUERY_STRING}

RewriteRule ^js/(.*).js app/scripts/js/$1.js
RewriteRule ^css/(.*).css app/scripts/css/$1.css
RewriteRule ^files/(.*).([a-z0-9]*) app/scripts/files/$1.$2

RewriteRule ^edit_area/(.*).([a-z0-9]*) app/edit_area/$1.$2
RewriteRule ^images/(.*).([a-z0-9]*) app/images/$1.$2
RewriteRule ^tiny-mce/(.*).([a-z0-9]*) app/tiny-mce/$1.$2

RewriteRule ^robots.txt$ user/robots.txt

RewriteRule ^app/(.*) - [L,R=404]
RewriteRule ^cache/(.*) - [L,R=404]
RewriteRule ^logs/(.*) - [L,R=404]
RewriteRule ^user/(.*) - [L,R=404]

RewriteRule ^/?upgrade-collation\.php$ - [L,R=404]