RewriteEngine on

# !! - Uncomment to catch all requests and pass them to stopped.html
# RewriteRule ^(.*)$ app/stopped.html [END]

# Application rules
RewriteRule ^setup.php$ app/setup.php [END]
RewriteRule ^service/.*$ app/service.php [END]
RewriteRule ^([a-zA-Z0-9/_-]*)$ app/index.php?WEB_PAGE_PATH=$1&%{QUERY_STRING} [END]
RewriteRule ^(.*)\.view$ app/index.php?VIEW_PAGE_PATH=$1&%{QUERY_STRING} [END]
RewriteRule ^file\.php$ app/index.php?%{QUERY_STRING} [END]
RewriteRule ^migrate.php$ app/migrate.php [END]
RewriteRule ^url-composer.php$ app/url-composer.php [END]
RewriteRule ^window-property.php$ app/window-property.php [END]
RewriteRule ^wysiwyg-styles.php$ app/wysiwyg-styles.php [END]

# Static assets
RewriteRule ^js/(.*)\.js$ app/scripts/js/$1.js [END]
RewriteRule ^css/(.*)\.css$ app/scripts/css/$1.css [END]
RewriteRule ^css/(.*)\.eot$ app/scripts/css/$1.eot [END]
RewriteRule ^css/(.*)\.svg$ app/scripts/css/$1.svg [END]
RewriteRule ^css/(.*)\.ttf$ app/scripts/css/$1.ttf [END]
RewriteRule ^css/(.*)\.woff$ app/scripts/css/$1.woff [END]
RewriteRule ^css/(.*)\.woff2$ app/scripts/css/$1.woff2 [END]
RewriteRule ^files/([0-9/]*)\.([a-zA-Z0-9]*)$ user/filesystem/$1.$2 [END]
RewriteRule ^public/(.*)\.(.*)$ user/public/$1.$2 [END]
RewriteRule ^assets/([^/]*)/([^\.]*)\.(.*)$ modules/$1/assets/$2.$3 [END]

# Special static assets
RewriteRule ^edit_area/(.*) app/edit_area/$1 [END]
RewriteRule ^images/(.*) app/images/$1 [END]
RewriteRule ^tiny-mce/(.*) app/tiny-mce/$1 [END]

RewriteRule ^robots\.txt$ user/robots.txt [END]

# !! - Comment to enable access to encoding upgrade
RewriteRule ^/?upgrade-collation\.php$ - [L,R=404,END]
RewriteRule ^upgrade-collation.php$ app/upgrade-collation.php [END]

# Deny access to  system folders
RewriteRule ^app/(.*) - [L,R=404]
RewriteRule ^cache/(.*) - [L,R=404]
RewriteRule ^logs/(.*) - [L,R=404]
RewriteRule ^user/(.*) - [L,R=404]

# Fallback route
RewriteRule ^(.*)$ app/index.php?WEB_PAGE_PATH=$1&%{QUERY_STRING} [END]